@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", sans-serif;
  padding: 15px 0 0 25px;
}
div {
  display: flex;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
li {
  margin-left: 15px;
}
