@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", sans-serif;
  padding: 10px 30px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
li:nth-child(4) {
  margin-right: 40px;
}
li {
  margin-left: 20px;
}
